<div class="git_fetch_area">
    <div class="content">
        <label>Fetch <span id="git_remote"></span></label>
        Fetch From: <select id="git_remotes_fetch"></select>
    </div>
    <footer>
        <button onclick="codiad.CodeGit.fetch(); return false;">Fetch</button>
        <button onclick="codiad.CodeGit.showDialog('overview', codiad.CodeGit.location); return false;">Close</button>
    </footer>
    <script>
        codiad.CodeGit.getRemotes();
        function renameRemote() {
            codiad.CodeGit.name = $('#git_remotes_fetch').val();
            codiad.CodeGit.showDialog('renameRemote', codiad.CodeGit.location);
        }
    </script>
</div>